:root {
    --text: #143400;
    --background: #f5ffe4;
    --primary: #80ff00;
    --secondary: #aeff50;
    --accent: #d0ff90;
}

*{
    font-family: monospace;
    background-color: var(--background);
}

body{
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegúrate de que el main ocupe toda la altura del viewport */
}


.container a{
    text-decoration: none;
    background-color: var(--secondary);
    padding: 30px;
    border-radius: 24px;

    font-size: 20px;
    font-weight: bold;
}
